### üìå **(ETL fase 01) - Extra√ß√£o Dados:**

In [206]:
import pandas as pd
import json

url = r'data\dadosAPI\TelecomX_Data.json'
df = pd.read_json(url)

In [207]:
df.head(3)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

### üîß **(ETL fase 02) - An√°lise do Dataframe original + normaliza√ß√£o:**

O dataframe prov√©m de um <strong>arquivo.json</strong>, por isso a seguir, farei uso do m√©todo normalize de maneira
a deixar o documento mais adequado para manipula√ß√£o.

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [209]:
df.dtypes

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

In [210]:
colunas_df = list(df.columns)
colunas_df

['customerID', 'Churn', 'customer', 'phone', 'internet', 'account']

In [211]:
pd.json_normalize(df['customer']).head(2)

   gender  SeniorCitizen Partner Dependents  tenure
0  Female              0     Yes        Yes       9
1    Male              0      No         No       9

In [212]:
pd.json_normalize(df['phone']).head(2)

  PhoneService MultipleLines
0          Yes            No
1          Yes           Yes

In [213]:
pd.json_normalize(df['internet']).head(2)

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes

In [214]:
pd.json_normalize(df['account']).head(2)

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.6,593.3
1,Month-to-month,No,Mailed check,59.9,542.4

In [215]:
# Juntando subdataframes ao df original:
# exclui todas as colunas com objetos literais JS, e
# concatenei os dfs normalizados acima:

df = pd.concat([
    df.drop(columns=['customer','phone','internet','account']),
    pd.json_normalize(df['customer'], sep='_'),
    pd.json_normalize(df['phone'], sep='_'),
    pd.json_normalize(df['internet'], sep='_'),
    pd.json_normalize(df['account'], sep='_')
    ],
    axis=1)

In [216]:
df.head(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85

In [217]:
df.set_index('customerID', inplace=True)

In [218]:
df.head(3)

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
customerID,,,,,,,,,,,,,,,,,,,,
0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85

In [219]:
# Analizando novas colunas existentes:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7267 entries, 0002-ORFBO to 9995-HOTOH
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7267 non-null   object
 1   gender            7267 non-null   object
 2   SeniorCitizen     7267 non-null   int64
 3   Partner           7267 non-null   object
 4   Dependents        7267 non-null   object
 5   tenure            7267 non-null   int64
 6   PhoneService      7267 non-null   object
 7   MultipleLines     7267 non-null   object
 8   InternetService   7267 non-null   object
 9   OnlineSecurity    7267 non-null   object
 10  OnlineBackup      7267 non-null   object
 11  DeviceProtection  7267 non-null   object
 12  TechSupport       7267 non-null   object
 13  StreamingTV       7267 non-null   object
 14  StreamingMovies   7267 non-null   object
 15  Contract          7267 non-null   object
 16  PaperlessBilling  7267 non-null   object
 17  PaymentMethod     7267 non-null   object
 18  Charges_Monthly   7267 non-null   float64
 19  Charges_Total     7267 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.2+ MB

In [220]:
df.dtypes

Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges_Monthly     float64
Charges_Total        object
dtype: object

In [221]:
colunas_df = list(df.columns)
colunas_df

['Churn',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Charges_Monthly',
 'Charges_Total']

### üîß **(ETL fase 03) - Verificando Inconsist√™ncias nos Dados:**

In [222]:
def getValoresCelulas(df, nmColOrigem):
    vlsExistentes = {
        'nm_coluna': nmColOrigem,
        'valores_vistos': \
        list(pd.unique(df[nmColOrigem]))
    }
    return vlsExistentes

In [223]:
getValoresCelulas(df, 'Churn') # Valores preenchidos na coluna "Evas√£o/Churn".

{'nm_coluna': 'Churn', 'valores_vistos': ['No', 'Yes', '']}

In [224]:
for nmColuna in df.columns:
    print(getValoresCelulas(df, nmColuna))

{'nm_coluna': 'Churn', 'valores_vistos': ['No', 'Yes', '']}
{'nm_coluna': 'gender', 'valores_vistos': ['Female', 'Male']}
{'nm_coluna': 'SeniorCitizen', 'valores_vistos': [0, 1]}
{'nm_coluna': 'Partner', 'valores_vistos': ['Yes', 'No']}
{'nm_coluna': 'Dependents', 'valores_vistos': ['Yes', 'No']}
{'nm_coluna': 'tenure', 'valores_vistos': [9, 4, 13, 3, 71, 63, 7, 65, 54, 72, 5, 56, 34, 1, 45, 50, 23, 55, 26, 69, 11, 37, 49, 66, 67, 20, 43, 59, 12, 27, 2, 25, 29, 14, 35, 64, 39, 40, 6, 30, 70, 57, 58, 16, 32, 33, 10, 21, 61, 15, 44, 22, 24, 19, 47, 62, 46, 52, 8, 60, 48, 28, 41, 53, 68, 51, 31, 36, 17, 18, 38, 42, 0]}
{'nm_coluna': 'PhoneService', 'valores_vistos': ['Yes', 'No']}
{'nm_coluna': 'MultipleLines', 'valores_vistos': ['No', 'Yes', 'No phone service']}
{'nm_coluna': 'InternetService', 'valores_vistos': ['DSL', 'Fiber optic', 'No']}
{'nm_coluna': 'OnlineSecurity', 'valores_vistos': ['No', 'Yes', 'No internet service']}
{'nm_coluna': 'OnlineBackup', 'valores_vistos': ['Yes', 'No', 'No internet service']}
{'nm_coluna': 'DeviceProtection', 'valores_vistos': ['No', 'Yes', 'No internet service']}
{'nm_coluna': 'TechSupport', 'valores_vistos': ['Yes', 'No', 'No internet service']}
{'nm_coluna': 'StreamingTV', 'valores_vistos': ['Yes', 'No', 'No internet service']}
{'nm_coluna': 'StreamingMovies', 'valores_vistos': ['No', 'Yes', 'No internet service']}
{'nm_coluna': 'Contract', 'valores_vistos': ['One year', 'Month-to-month', 'Two year']}
{'nm_coluna': 'PaperlessBilling', 'valores_vistos': ['Yes', 'No']}
{'nm_coluna': 'PaymentMethod', 'valores_vistos': ['Mailed check', 'Electronic check', 'Credit card (automatic)', 'Bank transfer (automatic)']}
{'nm_coluna': 'Charges_Monthly', 'valores_vistos': [65.6, 59.9, 73.9, 98.0, 83.9, 69.4, 109.7, 84.65, 48.2, 90.45, 45.2, 116.8, 68.95, 101.3, 45.05, 95.75, 61.25, 72.1, 62.7, 25.1, 25.2, 94.1, 83.75, 19.85, 20.35, 30.5, 103.7, 20.4, 19.6, 19.7, 79.0, 91.2, 20.45, 115.8, 20.55, 39.4, 89.8, 94.75, 20.3, 75.75, 49.25, 78.2, 25.5, 61.6, 45.0, 85.15, 51.45, 99.25, 44.3, 94.2, 81.25, 99.95, 91.55, 104.5, 95.0, 50.35, 64.5, 19.4, 104.8, 109.4, 50.3, 71.4, 116.0, 99.75, 93.95, 90.8, 84.35, 58.25, 107.55, 19.95, 111.2, 40.2, 85.8, 19.9, 35.4, 73.85, 88.1, 101.35, 45.8, 94.65, 20.5, 89.4, 86.25, 74.85, 89.75, 109.95, 80.2, 90.35, 86.45, 101.25, 94.7, 70.9, 58.75, 54.2, 114.9, 19.55, 86.85, 25.35, 109.9, 87.2, 108.15, 116.3, 89.0, 74.4, 20.05, 35.05, 74.75, 105.5, 85.25, 75.2, 84.45, 102.4, 115.55, 25.3, 19.25, 114.65, 105.1, 57.8, 84.3, 100.55, 19.8, 84.8, 85.85, 75.35, 48.8, 47.15, 20.15, 59.55, 69.65, 36.1, 56.6, 75.9, 79.2, 85.55, 93.35, 109.65, 89.7, 84.25, 92.65, 50.1, 92.45, 79.65, 81.4, 50.55, 81.05, 62.45, 90.4, 85.65, 72.9, 70.5, 20.1, 74.9, 100.7, 105.65, 114.3, 19.75, 24.35, 69.85, 58.85, 103.15, 54.4, 21.05, 29.3, 54.75, 60.55, 86.2, 95.45, 63.95, 65.35, 50.2, 63.8, 101.15, 65.0, 36.05, 96.1, 19.05, 105.75, 40.4, 99.15, 49.45, 88.8, 55.15, 80.55, 58.7, 99.5, 99.85, 45.35, 48.55, 26.4, 100.2, 97.65, 100.0, 70.1, 34.2, 97.9, 102.5, 69.95, 81.35, 66.05, 61.2, 106.3, 39.6, 89.3, 108.9, 102.1, 98.9, 45.9, 99.9, 64.35, 19.65, 84.9, 102.55, 19.35, 70.4, 39.55, 50.15, 44.6, 34.7, 93.6, 90.6, 57.95, 112.1, 88.25, 60.3, 20.0, 85.35, 62.05, 64.4, 70.45, 105.0, 25.15, 19.3, 55.3, 95.4, 93.85, 105.55, 101.9, 24.45, 101.5, 110.65, 83.85, 60.25, 59.2, 44.4, 85.3, 66.1, 98.85, 49.2, 20.9, 19.5, 87.0, 49.0, 90.1, 90.7, 100.5, 74.7, 60.15, 94.45, 115.6, 45.3, 99.65, 95.55, 80.6, 69.55, 83.5, 83.8, 25.6, 20.75, 56.75, 98.8, 104.85, 73.0, 77.85, 105.45, 96.8, 24.25, 102.15, 64.85, 25.25, 24.75, 96.75, 74.45, 99.4, 19.15, 69.5, 73.7, 79.7, 79.9, 88.3, 75.55, 20.2, 71.65, 69.05, 71.1, 62.8, 100.35, 92.05, 70.75, 102.35, 50.5, 85.0, 42.1, 75.65, 24.8, 114.6, 65.7, 74.0, 85.45, 93.55, 109.55, 74.55, 79.85, 62.15, 25.55, 106.1, 79.6, 73.35, 23.9, 95.5, 78.6, 51.2, 61.4, 43.95, 25.9, 97.95, 83.3, 101.6, 72.75, 88.95, 78.35, 80.0, 49.85, 91.8, 100.15, 69.8, 46.35, 69.75, 25.45, 75.95, 78.75, 19.2, 25.05, 47.85, 111.9, 81.9, 18.85, 18.7, 81.55, 29.6, 45.55, 48.45, 41.9, 24.15, 67.5, 90.05, 76.5, 84.05, 95.6, 89.05, 102.95, 21.0, 82.3, 80.35, 70.65, 73.55, 104.4, 98.05, 48.95, 60.6, 19.0, 56.25, 25.8, 85.2, 28.5, 20.25, 93.5, 54.65, 71.9, 116.4, 69.25, 75.5, 101.1, 86.05, 72.45, 83.2, 110.0, 94.85, 105.95, 54.15, 68.25, 101.7, 65.85, 93.75, 61.65, 100.4, 89.65, 90.3, 94.3, 55.65, 70.7, 53.8, 50.05, 56.15, 86.65, 86.8, 109.5, 91.25, 95.85, 33.7, 63.35, 26.1, 74.6, 112.95, 88.35, 65.15, 59.7, 20.65, 23.75, 108.1, 39.0, 20.6, 80.15, 25.4, 46.3, 55.1, 78.4, 30.15, 70.85, 77.8, 99.0, 81.45, 66.7, 49.15, 19.1, 18.55, 111.25, 40.65, 89.9, 86.95, 35.55, 44.95, 48.4, 58.95, 100.3, 105.6, 60.9, 103.75, 113.35, 75.15, 82.4, 104.05, 85.7, 53.85, 102.25, 69.1, 65.75, 79.55, 84.6, 85.4, 103.95, 86.4, 45.7, 93.45, 104.3, 64.9, 19.45, 44.55, 96.5, 100.85, 105.35, 115.15, 113.0, 29.8, 80.8, 115.1, 85.5, 69.9, 95.8, 104.15, 83.05, 89.45, 75.25, 74.65, 29.9, 80.5, 89.6, 76.35, 100.05, 53.45, 100.25, 80.7, 92.95, 98.7, 30.1, 80.3, 73.65, 25.95, 98.15, 35.5, 104.1, 109.2, 96.2, 56.0, 70.8, 89.55, 29.2, 99.45, 50.85, 80.85, 49.4, 60.65, 45.75, 94.8, 100.8, 69.7, 106.05, 90.55, 24.85, 74.35, 89.1, 74.95, 80.45, 78.45, 103.5, 79.05, 70.25, 113.15, 70.55, 35.65, 108.65, 106.5, 105.4, 109.6, 92.15, 85.05, 25.7, 108.25, 98.75, 71.05, 30.75, 25.65, 75.85, 54.55, 99.8, 76.65, 51.0, 95.05, 101.05, 74.25, 49.8, 51.1, 105.8, 89.85, 55.0, 100.45, 53.9, 77.55, 53.65, 43.8, 24.6, 23.95, 98.45, 111.45, 84.15, 53.35, 87.55, 29.85, 94.15, 108.75, 39.1, 70.6, 109.75, 109.3, 106.65, 90.15, 89.2, 64.15, 60.0, 79.95, 91.1, 104.0, 73.6, 59.5, 23.05, 48.35, 49.6, 56.4, 49.65, 48.25, 108.45, 76.85, 65.1, 26.35, 91.15, 75.3, 115.0, 65.25, 46.0, 80.25, 110.5, 54.3, 34.65, 56.3, 66.4, 96.55, 81.3, 66.85, 43.65, 88.85, 44.05, 91.0, 110.6, 20.7, 21.1, 107.15, 24.7, 55.35, 89.95, 70.05, 78.55, 97.85, 79.35, 108.4, 110.75, 30.3, 98.4, 99.35, 55.25, 24.95, 46.4, 68.5, 103.4, 102.45, 71.6, 59.75, 78.65, 98.25, 59.65, 99.1, 30.35, 70.3, 56.05, 55.8, 66.35, 18.95, 91.05, 76.0, 74.05, 35.3, 69.35, 105.9, 107.95, 61.5, 49.9, 110.45, 71.35, 105.7, 79.25, 86.9, 82.5, 35.6, 82.1, 30.6, 67.8, 29.15, 115.65, 69.15, 95.25, 105.2, 98.5, 75.1, 51.05, 91.6, 24.4, 93.65, 49.95, 68.4, 116.05, 81.6, 94.5, 93.25, 116.85, 86.75, 45.85, 106.45, 63.3, 96.25, 49.7, 62.1, 98.3, 99.7, 58.5, 106.2, 104.35, 106.4, 114.2, 115.05, 63.75, 82.0, 94.0, 92.2, 97.55, 55.2, 87.3, 60.1, 51.5, 76.4, 93.9, 45.15, 33.55, 84.7, 83.0, 94.55, 50.95, 91.7, 93.8, 109.85, 74.1, 88.75, 70.95, 79.4, 93.4, 78.3, 76.6, 95.65, 66.8, 107.75, 59.8, 61.35, 69.0, 24.2, 91.3, 101.75, 89.5, 44.45, 94.25, 40.25, 79.5, 25.0, 35.25, 115.85, 20.8, 45.45, 95.9, 24.3, 106.8, 89.15, 48.6, 96.4, 67.6, 48.9, 24.05, 74.2, 58.35, 68.7, 20.85, 70.15, 65.05, 70.0, 39.3, 103.3, 79.8, 54.6, 111.6, 89.25, 58.6, 72.85, 80.4, 44.75, 68.6, 86.5, 61.15, 40.3, 95.1, 92.85, 100.6, 110.25, 98.2, 44.0, 113.3, 78.95, 23.3, 90.95, 75.05, 79.75, 58.4, 104.7, 81.95, 33.5, 99.55, 103.1, 102.6, 79.3, 85.6, 106.7, 49.05, 103.85, 67.45, 55.45, 84.2, 81.7, 114.45, 64.0, 55.7, 59.45, 35.9, 26.0, 84.0, 51.65, 96.6, 71.0, 111.15, 76.45, 35.45, 92.7, 75.4, 45.6, 96.65, 54.7, 88.15, 25.75, 67.95, 73.1, 50.75, 55.55, 50.7, 26.2, 45.65, 44.8, 68.65, 35.2, 63.9, 99.2, 54.9, 65.65, 39.35, 92.4, 96.0, 58.55, 40.1, 85.9, 78.85, 111.95, 59.1, 53.0, 80.65, 84.85, 60.85, 50.8, 90.0, 24.55, 98.6, 49.3, 103.2, 60.5, 103.25, 81.85, 80.1, 105.85, 46.25, 79.15, 72.95, 66.6, 70.2, 99.6, 109.15, 94.4, 110.8, 74.3, 78.5, 63.1, 45.4, 48.75, 58.0, 100.75, 117.45, 82.15, 76.55, 109.05, 33.9, 33.15, 111.05, 94.9, 104.25, 36.0, 84.75, 113.65, 93.0, 44.35, 66.25, 53.5, 95.3, 114.85, 49.35, 80.05, 85.1, 61.9, 110.15, 57.55, 54.8, 54.45, 94.6, 39.2, 56.8, 64.55, 101.4, 75.45, 98.1, 64.05, 92.5, 111.65, 101.85, 97.8, 35.1, 90.65, 95.7, 101.0, 109.45, 64.2, 76.1, 93.7, 30.2, 63.7, 105.05, 21.15, 73.45, 100.1, 65.5, 50.6, 30.4, 111.5, 77.15, 81.0, 107.5, 50.9, 111.75, 23.65, 60.05, 69.6, 46.1, 56.45, 54.25, 76.15, 108.0, 84.95, 111.3, 95.35, 76.95, 104.9, 66.15, 58.2, 33.6, 108.05, 101.45, 100.9, 86.1, 49.55, 54.85, 56.9, 90.75, 45.25, 82.65, 24.0, 95.2, 77.65, 43.35, 29.1, 53.1, 78.05, 104.95, 110.3, 83.4, 60.45, 108.55, 54.95, 26.8, 88.45, 71.45, 103.9, 103.65, 84.1, 93.15, 46.05, 87.25, 68.3, 103.8, 55.85, 83.65, 85.95, 40.9, 102.65, 21.3, 117.8, 34.0, 55.95, 34.85, 55.9, 83.45, 88.7, 110.1, 94.05, 103.05, 64.8, 33.45, 18.8, 51.4, 69.45, 91.95, 59.05, 74.8, 90.85, 110.05, 92.0, 86.15, 53.95, 24.9, 40.05, 95.15, 75.6, 33.75, 34.8, 73.8, 69.2, 55.4, 25.85, 73.75, 60.95, 87.4, 74.15, 78.1, 107.65, 52.15, 44.85, 97.75, 88.05, 92.55, 53.75, 64.95, 84.4, 98.55, 83.95, 74.5, 31.0, 43.6, 88.2, 29.45, 44.7, 113.8, 116.6, 106.0, 83.7, 28.6, 111.4, 72.6, 34.6, 34.4, 96.9, 104.65, 109.8, 97.25, 54.1, 76.9, 92.35, 94.35, 83.55, 24.5, 86.6, 21.25, 23.85, 63.55, 80.75, 109.0, 105.25, 79.45, 54.35, 108.85, 51.55, 77.35, 60.4, 55.5, 20.95, 94.95, 34.95, 57.5, 96.3, 38.5, 65.3, 112.6, 64.75, 99.3, 52.3, 77.75, 83.6, 98.35, 26.9, 83.35, 62.65, 99.05, 55.05, 111.55, 104.45, 106.9, 109.25, 64.1, 101.8, 38.8, 97.0, 36.25, 88.6, 88.65, 113.25, 39.7, 46.2, 63.05, 31.2, 38.55, 84.5, 78.9, 114.0, 82.85, 110.35, 35.35, 82.35, 67.75, 44.15, 71.8, 106.35, 107.0, 108.8, 36.45, 93.2, 76.05, 68.55, 106.85, 26.05, 100.65, 50.0, 116.55, 67.25, 23.45, 33.65, 117.6, 34.25, 35.0, 96.35, 66.2, 64.65, 113.05, 59.85, 71.25, 115.25, 36.15, 40.55, 114.05, 39.9, 53.4, 97.05, 75.7, 41.95, 71.75, 49.5, 45.1, 68.75, 59.6, 78.8, 65.2, 106.15, 116.45, 92.3, 85.75, 50.25, 44.65, 49.75, 81.75, 61.55, 86.7, 96.85, 106.6, 78.25, 24.1, 50.4, 30.9, 107.45, 104.2, 65.55, 76.2, 71.15, 60.8, 53.6, 51.6, 35.75, 76.25, 64.45, 92.1, 97.45, 66.5, 88.0, 91.35, 70.35, 102.9, 66.65, 102.05, 89.35, 88.9, 117.2, 103.45, 81.15, 75.8, 34.5, 59.3, 108.2, 108.95, 36.65, 114.5, 90.9, 116.25, 114.75, 63.6, 61.8, 90.25, 36.85, 71.3, 50.65, 43.9, 44.5, 61.3, 48.65, 52.55, 110.55, 38.1, 72.25, 57.65, 57.15, 88.4, 43.45, 72.65, 57.2, 91.85, 58.9, 24.65, 107.35, 109.1, 63.25, 43.75, 79.1, 105.3, 29.7, 35.15, 104.75, 81.1, 30.45, 26.25, 62.85, 61.0, 95.95, 45.5, 102.8, 87.9, 87.6, 52.2, 55.6, 107.6, 57.45, 88.55, 107.05, 35.8, 60.7, 82.05, 30.25, 23.55, 82.7, 110.85, 43.7, 51.8, 96.05, 112.4, 86.0, 44.9, 73.25, 44.1, 80.9, 47.6, 18.75, 34.55, 87.1, 71.5, 61.45, 98.65, 41.6, 86.55, 104.55, 73.5, 65.8, 91.45, 53.55, 71.95, 37.7, 75.0, 97.7, 48.7, 34.3, 102.7, 29.5, 66.3, 82.45, 18.9, 65.45, 39.05, 56.35, 91.5, 45.95, 67.2, 40.6, 72.0, 29.35, 29.65, 92.9, 110.2, 108.5, 66.9, 112.75, 34.05, 39.65, 29.4, 73.15, 87.8, 101.55, 87.15, 64.6, 105.15, 114.35, 63.85, 76.3, 51.35, 77.9, 102.0, 115.75, 38.9, 87.45, 96.15, 56.95, 54.05, 83.15, 78.15, 52.1, 40.35, 36.5, 48.15, 39.5, 82.9, 82.55, 91.65, 118.6, 68.85, 51.3, 68.45, 96.95, 100.95, 60.2, 58.45, 60.75, 31.35, 81.8, 72.8, 81.5, 26.3, 56.1, 73.05, 29.75, 46.6, 87.35, 97.1, 108.35, 26.5, 57.6, 56.65, 29.05, 97.2, 56.55, 52.85, 81.2, 68.15, 38.25, 23.4, 71.55, 64.7, 111.35, 92.6, 43.85, 52.0, 28.45, 68.1, 23.5, 90.5, 29.95, 90.2, 72.15, 40.15, 31.65, 41.35, 108.3, 63.15, 64.25, 107.4, 61.05, 83.25, 53.7, 82.75, 114.7, 87.95, 112.2, 63.4, 26.45, 93.3, 57.75, 30.85, 56.2, 43.05, 73.95, 58.65, 51.25, 117.15, 30.55, 104.6, 43.3, 114.1, 54.0, 54.5, 106.95, 59.0, 107.25, 18.25, 113.1, 52.5, 68.05, 117.35, 114.95, 21.2, 51.75, 59.95, 42.9, 87.05, 86.3, 112.55, 110.9, 106.25, 103.35, 71.7, 47.05, 102.85, 103.0, 62.25, 87.65, 77.4, 50.45, 112.25, 41.15, 113.2, 53.3, 108.6, 59.25, 64.3, 93.05, 23.6, 47.8, 66.75, 111.8, 29.25, 80.95, 61.1, 73.2, 65.4, 118.75, 87.7, 113.75, 78.0, 41.05, 113.6, 30.05, 60.35, 77.95, 42.3, 68.35, 107.7, 42.4, 42.6, 65.9, 116.1, 69.3, 62.3, 21.45, 97.35, 115.5, 116.5, 42.35, 38.6, 35.7, 31.1, 113.95, 76.75, 40.7, 72.2, 22.95, 118.35, 77.3, 114.55, 55.75, 73.3, 56.7, 39.15, 77.0, 68.9, 47.95, 53.15, 39.95, 81.65, 41.1, 59.4, 62.5, 82.95, 91.4, 39.85, 78.7, 77.5, 112.35, 107.2, 111.1, 49.1, 116.75, 113.4, 43.55, 31.05, 40.0, 67.7, 43.25, 44.2, 47.4, 23.15, 106.55, 23.8, 84.55, 101.95, 44.25, 56.5, 118.65, 40.75, 116.2, 39.45, 77.2, 103.6, 86.35, 52.7, 48.85, 67.05, 110.7, 72.35, 112.9, 51.7, 87.75, 106.75, 88.5, 62.55, 116.15, 117.5, 113.45, 38.85, 67.4, 18.4, 66.0, 59.15, 61.75, 116.95, 61.95, 96.7, 71.85, 51.15, 40.45, 107.9, 56.85, 67.65, 118.2, 76.8, 91.75, 68.8, 67.85]}

In [225]:
df['Charges_Monthly'].isna()

customerID
0002-ORFBO    False
0003-MKNFE    False
0004-TLHLJ    False
0011-IGKFF    False
0013-EXCHZ    False
              ...
9987-LUTYD    False
9992-RRAMN    False
9992-UJOEL    False
9993-LHIEB    False
9995-HOTOH    False
Name: Charges_Monthly, Length: 7267, dtype: bool

In [226]:
df.columns.str.lower()

Index(['churn', 'gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'charges_monthly', 'charges_total'],
      dtype='object')

In [227]:
df.columns.str.lower().str.replace(' ','_')

Index(['churn', 'gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'charges_monthly', 'charges_total'],
      dtype='object')

In [228]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [229]:
df.head(3)

,churn,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,charges_monthly,charges_total
customerID,,,,,,,,,,,,,,,,,,,,
0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85

In [230]:
df.churn.unique()

array(['No', 'Yes', ''], dtype=object)

In [231]:
df['churn'].unique()

array(['No', 'Yes', ''], dtype=object)

### üîß **(ETL fase 04) - Tratando as Inconsist√™ncias nos Dados:**

Primeiro antes de criar a coluna "Contas Di√°rias" pedida no Challenge, excluirei alguns valores inv√°lidos dentro do dataframe.
- Antes de converter valores aos tipos *np.float64*, *string*, *etc*; irei verificar valores inadequados, como strings vazias ou NaN.
- Feito isso, fa√ßo a convers√£o dos tipos.

In [238]:
# Testes iniciais:

a = df['churn'].isin(['Yes']).sum()
b = df['churn'].isin(['No']).sum()
(a + b) == len(df['churn'])

False

In [239]:
a + b

7043

In [240]:
selecao_churn1 = df['churn'] == 'Yes'
selecao_churn2 = df['churn'] == 'No'
len(df[selecao_churn1]) + \
len(df[selecao_churn2])

7043

In [243]:
c = df['churn'].isin(['Yes','No']).sum()
c

7043

In [244]:
c < len(df)

True

In [245]:
df['churn'].value_counts(dropna=False)

churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [247]:
# S√©rie booleana com indices do DF que est√£o adequados
# ao padr√£o "Yes"/"No":
df['churn'].isin(['Yes','No'])

customerID
0002-ORFBO    True
0003-MKNFE    True
0004-TLHLJ    True
0011-IGKFF    True
0013-EXCHZ    True
              ...
9987-LUTYD    True
9992-RRAMN    True
9992-UJOEL    True
9993-LHIEB    True
9995-HOTOH    True
Name: churn, Length: 7267, dtype: bool

In [249]:
# Indices os quais RESPEITAM o padr√£o acima:
df[df['churn'].isin(['Yes','No'])].head(3)

,churn,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,charges_monthly,charges_total
customerID,,,,,,,,,,,,,,,,,,,,
0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85

In [250]:
# Indices os quais N√ÉO respeitam:
df[~df['churn'].isin(['Yes','No'])].head(3)

,churn,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,charges_monthly,charges_total
customerID,,,,,,,,,,,,,,,,,,,,
0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,Yes,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.3
0120-YZLQA,,Male,0,No,No,71,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.1
0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,Yes,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.2

In [252]:
len(df[~df['churn'].isin(['Yes','No'])]) # N√∫mero deles

224

In [257]:
df = df[df['churn'].isin(['Yes','No'])] # Retirando todos os √≠ndices indesejados do Dataframe

In [261]:
df['churn'].value_counts()

churn
No     5174
Yes    1869
Name: count, dtype: int64

In [263]:
df['churn'] = df['churn'].astype(str)

In [265]:
df = df[~df['charges_total'].isin(['',' '])] # Removendo valores vazios dos registros de cobran√ßa.

In [278]:
import numpy as np

df.loc[:,'charges_total'] = df['charges_total'].astype(np.float64)

In [279]:
df.charges_total.head(3)

customerID
0002-ORFBO    593.30
0003-MKNFE    542.40
0004-TLHLJ    280.85
Name: charges_total, dtype: float64

In [281]:
df['charges_total'].head(3)

customerID
0002-ORFBO    593.30
0003-MKNFE    542.40
0004-TLHLJ    280.85
Name: charges_total, dtype: float64

In [282]:
df.charges_total.sum()

16056168.7

In [283]:
df.charges_monthly.sum()

455661.0

In [285]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0002-ORFBO to 9995-HOTOH
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   churn             7032 non-null   object
 1   gender            7032 non-null   object
 2   seniorcitizen     7032 non-null   int64
 3   partner           7032 non-null   object
 4   dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   phoneservice      7032 non-null   object
 7   multiplelines     7032 non-null   object
 8   internetservice   7032 non-null   object
 9   onlinesecurity    7032 non-null   object
 10  onlinebackup      7032 non-null   object
 11  deviceprotection  7032 non-null   object
 12  techsupport       7032 non-null   object
 13  streamingtv       7032 non-null   object
 14  streamingmovies   7032 non-null   object
 15  contract          7032 non-null   object
 16  paperlessbilling  7032 non-null   object
 17  paymentmethod     7032 non-null   object
 18  charges_monthly   7032 non-null   float64
 19  charges_total     7032 non-null   float64
dtypes: float64(2), int64(2), object(16)
memory usage: 1.4+ MB

In [296]:
contas_diarias_calc = (df['charges_monthly']/30)
contas_diarias_calc

customerID
0002-ORFBO    2.186667
0003-MKNFE    1.996667
0004-TLHLJ    2.463333
0011-IGKFF    3.266667
0013-EXCHZ    2.796667
                ...
9987-LUTYD    1.838333
9992-RRAMN    2.836667
9992-UJOEL    1.676667
9993-LHIEB    2.261667
9995-HOTOH    1.966667
Name: charges_monthly, Length: 7032, dtype: float64

In [297]:
df['contas_diarias'] = contas_diarias_calc

In [298]:
df.columns

Index(['churn', 'gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'charges_monthly', 'charges_total', 'contas_diarias'],
      dtype='object')

In [299]:
df.head(1)

,churn,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,charges_monthly,charges_total,contas_diarias
customerID,,,,,,,,,,,,,,,,,,,,,
0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3,2.186667

### **üìä (ETL fase 05) - Carga e An√°lise (L - Load & Analysis)**

In [305]:
df.describe()

,seniorcitizen,tenure,charges_monthly,charges_total,contas_diarias
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.162400,32.421786,64.798208,2283.300441,2.159940
std,0.368844,24.545260,30.085974,2266.771362,1.002866
min,0.000000,1.000000,18.250000,18.800000,0.608333
25%,0.000000,9.000000,35.587500,401.450000,1.186250
50%,0.000000,29.000000,70.350000,1397.475000,2.345000
75%,0.000000,55.000000,89.862500,3794.737500,2.995417
max,1.000000,72.000000,118.750000,8684.800000,3.958333

In [308]:
df[['charges_monthly','charges_total','contas_diarias']].describe()

       charges_monthly  charges_total  contas_diarias
count      7032.000000    7032.000000     7032.000000
mean         64.798208    2283.300441        2.159940
std          30.085974    2266.771362        1.002866
min          18.250000      18.800000        0.608333
25%          35.587500     401.450000        1.186250
50%          70.350000    1397.475000        2.345000
75%          89.862500    3794.737500        2.995417
max         118.750000    8684.800000        3.958333

In [309]:
df.columns

Index(['churn', 'gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'charges_monthly', 'charges_total', 'contas_diarias'],
      dtype='object')

In [ ]:
df[['']] # ... pergar o desvio padr√£o de month to manth, two years, one year